; enfle.rc
; Last Modified: Sat Oct 14 04:02:44 2000.
; $Id: enfle.rc,v 1.3 2000/10/15 07:50:05 sian Exp $

enfle {
	plugins {
		dir = ../plugins
		ui/default = Xlib
		player/mpeg_lib = disabled
	}
}
