; enfle.rc
; Last Modified: Thu Dec 28 08:13:14 2000.
; $Id: enfle.rc,v 1.10 2000/12/27 23:26:44 sian Exp $

enfle {
  plugins {
    ; to use in build tree, override default path
    ;dir = ../plugins
    ui {
      default = Normal
      normal {
	; normal/render = {normal|double|short|long}
	render = normal
	; magnify = no/bilinear
	magnify_interpolate = bilinear
      }
    }
    video {
      default = Xlib
      caption_font = a14
    }
    audio {
      default = OSS
      oss/device_path = /dev/dsp
    }
    spi/disabled = yes
    ; video only stream may be played by mpeg_lib.
    ; in this case, if you'd like to use libmpeg3 instead of mpeg_lib,
    ; uncomment this.
    ; system stream(including video and audio) will be played by libmpeg3.
    ; mpeg_lib won't play all such streams.
    ;player/MPEG_lib/disabled = yes
  }
}
