; enfle.rc
; Last Modified: Tue Dec 19 00:25:11 2000.
; $Id: enfle.rc,v 1.9 2000/12/18 17:01:49 sian Exp $

enfle {
  plugins {
    dir = ../plugins
    ui {
      default = Normal
      normal {
	; normal/render = {normal|double|short|long}
	render = normal
	; magnify = no/bilinear
	magnify_interpolate = bilinear
      }
    }
    video {
      default = Xlib
      caption_font = a14
    }
    audio {
      default = oss
      oss/device_path = /dev/dsp
    }
    spi/disabled = yes
    player/MPEG_lib/disabled = yes
  }
}
